@font-face {
	font-family: "Lato-Bold";
	src: url("./../font/Lato-Bold.ttf");
}

@font-face {
	font-family: "Lato-Black";
	src: url("./../font/Lato-Black.ttf");
}

@font-face {
	font-family: "Lato-Regular";
	src: url("./../font/Lato-Regular.ttf");
}
